<!-- <mat-toolbar color="primary" class="footer-toolbar">
  <span class="footer-text">&copy; 2000 Learnify. Todos os direitos reservados.</span>

  <span class="spacer"></span>

  <div class="footer-icons">
    <a mat-icon-button href="mailto:contato@learnify.com" aria-label="E-mail">
      <mat-icon>mail</mat-icon>
    </a>
    <a mat-icon-button href="https://github.com" target="_blank" aria-label="GitHub">
      <mat-icon>code</mat-icon>
    </a>
  </div>
</mat-toolbar>
 -->


<mat-toolbar color="primary" class="footer-toolbar" role="contentinfo">
  <div class="footer-container">

    <!-- LOGO + LINK -->
    <div class="footer-section">
      <mat-icon svgIcon="angular" class="footer-icon"></mat-icon>
      <a mat-button href="https://angular.io" target="_blank">Learnify</a>
    </div>

    <!-- VERSÃO -->
    <div class="footer-section version-info">
      <mat-icon>info</mat-icon>
      <span>Nada detém a inexorável marcha do tempo.</span>
    </div>

    <!-- COPYRIGHT / LICENSE -->
    <div class="footer-section copyright">
      <span>&copy; 2025 Learnify</span>
      <a mat-button href="https://github.com/angular/components/blob/main/LICENSE" target="_blank">Developer: Vitor Honorato</a>
    </div>
  </div>
</mat-toolbar>
