.spacer {
  flex: 1 1 auto;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

a[mat-button] {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav-icon {
  margin-left: 10px;
  cursor: pointer;
}
